/* Fichier css global à toute l'application 
*/


:root {
  --theme-darkblue: #200b50dc;
  --theme-goldenyellow: #a18202;
}

body {
  font-family: 'Caveat';
  background: var(--theme-darkblue);
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  width: 90%;
}
h1, h2, h3, h4 {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}

a { 
  text-decoration: none;;
  padding: 0 1em;
  border: 1px black solid;
  border-radius: 5px;
  color: #000;
  transition: all 0.5s ease-out;
}

a:hover {
  background-color: var(--theme-darkblue);
  color: white;
}

li {
  list-style: none;
}




